@import url(../styles/const.css);

.thumbnail{
    width: 4em;
    height: 4em;
    object-fit: cover;
    cursor: pointer;
}

.thumbnail-input{
    display: none;
}

.thumbnail-input:checked + .thumbnail {
    opacity: 40%;
}

.choose-img {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
}

.product-wrapper {
    position: relative;
    display: flex;
    gap: 5em;
    padding: 0 6em;
    margin: 5em 0;
}

.product-info {
    width: 100%;
}

.product-img {
    width: max(15em, 50%);
    flex: 0 0 50%;
    height: 30em;
    object-fit: contain;
    object-position: 50 50;
}

.product-addForm {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.product-brand {
    font-size: 2rem;
    font-weight: 550;
    font-style: italic;
    margin: 0;
}

.product-name {
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    margin-top: 1em;
}

.product-attribute {
    display: flex;
    flex-direction: column;
    gap: 0.5em
}

.product-attrName {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    font-style: italic;
}

.price-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.product-price {
    font-weight: 600;
    font-size: 1.75rem;
    font-style: italic;
}

.product-btn {
    position: relative;
    background-color: var(--c-primary);
    border: none;
    color: var(--c-white);
    padding: 1em 0;
    font-size: 1rem;
    text-transform: uppercase;
    transition: all 200ms ease-in-out;
}

.product-add:hover {
    cursor: pointer;
    opacity: 80%;
}

.product-out {
    text-align: center;
    opacity: 50%;
}

.product-desc {
    font-style: italic;
}

.attr-input {
    display: none;
}

.attr-items {
    display: flex;
    flex-direction: row;
}

.attr-item {
    cursor: pointer;
    border: 1px solid var(--c-black);
    transition: all 200ms ease-in-out;
    box-sizing: border-box;
    position: relative;
    margin-right: 0.5em;
}

.attr-itemText {
    font-style: italic;
    text-transform: uppercase;
    width: 4em;
    padding: 1em 0;
    text-align: center;
}

.attr-itemColor {
    position: relative;
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.attr-input:checked + .attr-itemText {
    background-color: var(--c-black);
    color: var(--c-white) !important;
}

.attr-itemColor::after {
    content: "✔";
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: -1px;
    position: absolute;
    background-color: var(--c-white);
    border-radius: inherit;
    opacity: 0;
    transition: all 200ms ease-in-out;
}

.attr-input:checked + .attr-itemColor::after {
    opacity: 40%;
}

.attr-itemOut {
    position: absolute;
    inset: -1px;
    background-color: var(--c-white);
    opacity: 50%;
    cursor: auto;
}