@import-normalize;

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-wrapper{
  padding-top: 5em;
  width: min(100vw - 15rem, 1200px);
  margin-inline: auto;
}